{% extends "../flatpages/default.html" %}

{% block content %}
<section class="py-5">
                <div class="container px-5">
                    <!-- Contact form-->
                    <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
                        <div class="text-center mb-5">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-box-arrow-in-right"></i></div>
                            <h1 class="fw-bolder">Войти в систему</h1>
                        </div>
                        <div class="row gx-5" >
                            <form method="post">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <p> Логин:</p>
                                    {{ form.username }}
                                </div>
                                <div class="mb-3">
                                    <p> Пароль:</p>
                                    {{ form.password }}
                                </div>



                                <div class="d-grid w-50 mx-auto py-2"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">Войти</button></div>
                                <div class="d-grid py-2 w-50 mx-auto"><button class="btn btn-primary btn-lg" id="submitButton" ><a href="/sign/signup" class="text-decoration-none text-white"> Зарегестрироваться </a></button></div>
                            </form>
                        </div>
                    </div>
                </div>
</section>

{% endblock %}