{% extends 'flatpages/default.html' %} 
{% load custom_filters %}

{% block title %}
Новость
{% endblock title %}
 
{% block content %}



    <article>
        <header class="mb-4">
            <h1 class="fw-bolder mb-1">{{post.title|censor}}</h1>
            <div class="text-muted fst-italic mb-2">{{post.time_creation|date:'d-M-Y H:m'}}</div>
            {% for cat in post.category.all %}
            <div class="badge bg-primary bg-gradient rounded-pill mb-2"> {{ cat.category_name }}</div>
            {% endfor %}
        </header>
        <figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..."></figure>
        <section class="mb-5">
            <p class="fs-5 mb-4">{{post.text|censor}}</p>
        </section>
    </article>

    <a href="/news/" ><h3 style="margin-top: 100px;"> Вернуться на главную </h3></a>


{% endblock content %}